<!DOCTYPE html>
<html>
	<head>
		<title>Takagotch</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller.controller_name %>">
	<div id="columns">
		<%= image_tag("log.png") %>
		<%= @page_title || "Takagotch" %>
	</div>
	<div id="columns">
		<div id="side">
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
				<% end %>
			<% end %>
			<ul>
				<li><a href="http://www...">Home</li>
				<li><a href="http://www...">Quesitons</li>
				<li><a href="http://www...">News</li>
				<li><a href="http://www...">Contact</li>
			</ul>
			<% if session[:user_id] %>
				<ul>
					<li><%= link_to 'Order', orders_path %></li>
					<li><%= link_to 'Products', products_path%></li>
					<li><%= link_to 'User', users_path%></li>
				</ul>
				<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>

		</div>
		<div id="main">
			<%= yield%>
		</div>
		</div>

	</body>

</html>


